<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="menu-navbar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="sidebar"></ion-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sidebar">
      <img class="sidebar-image" src="img/Logos/Logo.png"/>
      <ion-list>
        <ion-item title="collections" class='sidebar' ng-class="{selected: sidebar selected}" ng-click="setActive('collections')" menu-close ui-sref="app.collections">
          Collections
        </ion-item>
        <ion-item title="dashboard" class="sidebar" menu-close ui-sref="app.dashboard">
          Dashboard
        </ion-item>
      </ion-list>
      <ion-item title="login" class="footer" menu-close ui-sref="app.collections">
          Login
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
