.sidebar {
	background-color: #252525 !important;
	color: #E6E7E7;
	border-color: #252525;
	margin-top: -2px;
}

.img-circle {
    border-radius: 50%;
    position: absolute;
max-height:100%;
    right: 5px;
    top: 0px;
}

.footer {
	background-color: #252525 !important;
	color: #E6E7E7;
    border: 0px;
    vertical-align: bottom;
    position: inherit !important;
}

.sidebar .item:hover {
	background-color: #49494A !important;
}

.list .bottom {
  height: 100%;
}

.sidebar .item-content, .sidebar .item, .sidebar .item-complex {
background-color: transparent !important;
}


.menu-list {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px; 
}

.empty-cart {
  color: black !important;
  vertical-align: middle; 
  padding-top: 70%;
  padding-bottom: 15%;
  text-align: center;
    text-shadow:
    -1px -1px 0 #252525,
    -1px 1px 0 gray,
    1px 1px 0 #252525;
}

.cart-checkout {
  background: #B4A460 !important;
}

.button-gold {
  background-color: #B4A460;
  color: #fff;
}
.sidebar.active {
  border-left: thick solid #B4A460 !important;
  border-top-color: #252525 !important;
  border-bottom-color: #252525 !important;
  text-indent: -5px;
}

.sidebar .header {
  background-color: #252525 !important;
  color: #E6E7E7;
  border-color: #252525;
}

.item.item-input {
  color: white !important;

}
.sidebar-image {
  display:block !important;
  max-width:100% !important;
  height:auto !important;
}

h1, h2, h3, h4, h5, h6{
  color: #B4A460 !important;
}

p strong {
  padding-top: 30px;
  color: #F3F3F3;
  text-decoration-line: underline;
}

.img {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  margin-left: auto;
  margin-right: auto;
}

.img-collections {
  display:block !important;
  max-width:100% !important;
  margin: -3px;
  height:auto !important;
}

.product-image {
  float: left;
  padding-top: 5px;
  padding: 5px;
  height: 240px;
}

.product-images {
  display: inline-block;
}

.product-img {
  float: left;
  width: 50% !important;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 3px;
  height: 150px;
}

.images-list{
  position: relative;
    max-height: 250px;
    width: 350px;
    white-space: nowrap;
}


.product-list {
  display:inherit !important;
  border: solid;
  border-width: 1px 0px 0px 0px !important;
  border-color: #666 !important;
  max-height: 155px;
  padding-left: 4px;
  vertical-align: middle;
  height:180px !important;
}

.price {
  color: yellow;  
}

.product-text {
  display: block;
  padding-top: 5px;
  max-width: 10%;
  color: lightgray;
}

.row.row-top {
    min-height: 60vh !important;
}

/*.row-bottom {
    padding-top: 15% !important;
}*/

.main-body {
	background-color: #252525;
	color: #E6E7E7;
}

.main-button {
	background-color: #3D3E3D;
	color: #E6E7E7;
}

.menu-navbar {
	background-color: #49494A;
  border: 0px;
	color: #E6E7E7;
	font-size: 22px;
}

  .bar .button, .bar button {
    color: #E6E7E7;
  }

.product-price {
  color: white;
}

